body {
    background-color: aliceblue;
}

.carousel {
    position: relative;
}

.indicatorContainer {
    position: absolute;
    bottom: 6rem;
    left: 3rem;
}

.indicator {
    padding: 1.5px 30px;
    background:#fff;
    margin-right: 25px;
    display: inline-block;
    cursor: pointer;
	border-radius: 2px;
}

.active {
    background-color: #E8661C;
}

/* .move {
    height: 850px;
    position: relative;
    animation: mymove 1s infinite;
  }
  
  @keyframes mymove {
    from {right: 0px;}
    to {right: 1000px;}
  } */
